{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":197.83337211608887,"scrollleft":0,"selection":{"start":{"row":44,"column":21},"end":{"row":44,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":11,"state":"start","mode":"ace/mode/apache_conf"}},"timestamp":1486468457835,"hash":"55bf53b28deffe7e1dbdbda00a4950828f69d3fa"}