{"filter":false,"title":".htaccess","tooltip":"/js/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":357.000057220459,"scrollleft":0,"selection":{"start":{"row":44,"column":21},"end":{"row":44,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":18,"state":"start","mode":"ace/mode/apache_conf"}},"timestamp":1486470377097,"hash":"55bf53b28deffe7e1dbdbda00a4950828f69d3fa"}